.homepage {
  padding: 20px;
  color: #4f3d64;
  max-width: 1200px;
  margin: 0 auto;
}

.image {
  width: 300px;
  height: 300px;
  transform: rotate(-45deg);
  overflow: hidden;
  border-radius: 10px;
  float: right;
  margin-left: 40px;
  margin-right: 500px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(45deg);
  scale: 1.42;
}

.homepage h1 {
  text-align: left;
  font-size: 40px;
}