.homepage {
  font-size: 27px;
  padding: 20px;
  color: #4f3d64;
  max-width: 1200px;
  margin: 0 auto;
}
.homepage p {
  font-size: 20px;  
  opacity: 0;
  animation: slideIn 1s ease-out forwards;
}

.homepage #authors {
  font-size: 15px;
  color: black;
}

@keyframes slideIn {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.homepage img{
  display: block;
  margin: 20px auto;
  border-radius: 15px;
  height: 450px;
  width: 750px;}

