.sources-page {
  font-size: 27px;
  padding: 20px;
  color: #4f3d64;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.sources-page ul, .sources-page li {
  list-style-type: disc;
  padding-left: 20px;
  color: #7a6399;
  text-align: left;
  margin-bottom: 10px;
  font-style: italic;
}