.todo-page {
  font-size: 27px;
  padding: 20px;
  color: #4f3d64;
  max-width: 1200px;
  margin: 0 auto;
}

/*
.homepage p {
  font-size: 20px;  
  opacity: 0;
  animation: slideIn 1s ease-out forwards;
}
*/