.todo-page {
  font-size: 27px;
  padding: 20px;
  color: #4f3d64;
  max-width: 1200px;
  margin: 0 auto;
}

.todo-header {
  background-color: #7a6399; 
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.todo-header:hover {
  box-shadow: 10px 10px 15px rgba(44, 28, 58, 0.3);
  transition: all 350ms ease;
}

.todo-page h3 {
  font-size: 35px;
  font-style: italic;
}

.todo-header p, ul{
  font-size: 23px;
  color: rgb(247, 236, 236);
  margin-left: 20px;
}

.todo-header ul {
  list-style-type: circle;
  margin-left: 20px;
}

.todo-header a{
  color: rgb(247, 236, 236);
  text-decoration: none;
  cursor: pointer;
}

.todo-header a:hover {
  text-decoration: underline;
}

#solutions p {
  font-size: 20px;
  color: rgb(112, 89, 118);
}

.bias-cases {
  display: flex;
  justify-content: space-around;
} 

.bias-cases #case-1, .bias-cases #case-2 {
  width: 45%;
  height: auto;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  background-color: #4f3d64;
  color: white;
}

#bias-types, #classify-results, li{
  font-size: 18px;
  color: white;
}

#temp {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 5px;
  gap: 20px;
}

#bias-conclusion img {
  border-radius: 15px;
}

#legal-list {
  background-color: #7a6399;
  padding: 10px;
  border-radius: 15px;
  list-style-type: circle;
}

#temp-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#org-logos {
  display: flex;
  justify-content: space-evenly;
  gap: 45px;
  margin-top: 15px;
}

#org-logos img {
  width: 350px;
  height: auto;
  border-radius: 10px;
}

#stakeholders {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
}

#stakeholders div {
  background-color: #dec5ff;
  padding: 10px;
  border-radius: 15px;
  width: 300px;
  height: 300px;
}