.views {
    font-size: 23px;
    padding: 20px;
    color: #4f3d64;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.acm-section {
  display: flex;
  align-items: center;  
  gap: 20px;             
  margin-top: 20px;
  opacity: 0;
  transform: translateX(80px);
  transition: all 0.8s ease-out;
}
.acm-section.visible {
  opacity: 1;
  transform: translateX(0);
}

.acm-img {
  width: 400px;          
  height: auto;
  border-radius: 10px;
}

.acm-text {
  flex: 1;              
  font-size: 20px;
  line-height: 1.5;
  color: #4f3d64;
}

.icon-shake:hover {
  animation: shake 0.6s ease-in-out;
}

@keyframes shake {
   0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}