@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Ysabeau+SC:wght@1..1000&display=swap');

* {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}